@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.link-with-underline:hover {
  text-decoration: underline;
}
@font-face {
  font-family: 'Aquire';
  src: url('/AquireBold-8Ma60.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-aquire {
  font-family: 'Aquire', sans-serif;
}
.gradient-text {
  font-size: 4rem; /* Equivalent to text-6xl */
  font-weight: bold; /* Equivalent to font-bold */
  margin-bottom: 0.5rem; /* Equivalent to mb-2 */
  background: linear-gradient(90deg, ##FFFFFF, #9CA3AF, #111827);
  background-size: 400% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: colorTransition 8s infinite;
  text-align: center; /* Equivalent to text-center */
}

@keyframes colorTransition {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
